.cardcontainer {
  cursor: pointer;
  height: 100%;
  transition: transform 0.2s;
  text-decoration: none;
}
.cardcontainer:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
}

.DetailedAb {
  width: 20%;
  margin-top: 60px;
}
.DetailedImg {
  width: 35%;
}
